@media (max-width: 1200px) {
  .menu {
    &_item {
      padding-right: 20px;
    }
    &_link {
      font-size: 13px;
    }
  }
  .promo {
    &_header {
      font-size: 50px;
      }
    }
  .reasons {
    height: 1095px;
      &_block {
        align-items: flex-start;
      }
      &_descr {
        width: 300px;
    }
  }
  .mobile {
    &_item {
      width: 300px;
    }
  }
  .middle {
    margin-left: -4%;
  }

  .footer_store {
    width: 105px;
    flex-direction: column;
    
  }
  .img {
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .menu {
    &_item {
      padding-right: 10px;
    }
    &_link {
      font-size: 10px;
    }
  }
  .subheader {
    &_logo {
      img {
        width: 100%;
      }
    }
    &_official {
      font-size: 11px;
    }
    &_phone {
      font-size: 18px;
    }
    &_btn {
      margin-top: 25px;
      width: 139px;
      height: 35px;
      font-size: 13px;
    }
  }
  .promo {
    &_header {
      font-size: 40px;
      }
    &_subheader {
      font-size: 30px;
    }
    &_descr {
      font-size: 16px;
    }
  }
  .reasons {
    height: 1625px;
      &_title {
        font-size: 33px;
      }
      &_block {
        align-items: center;
        flex-direction: column;
      }
      &_descr {
        width: 300px;
        margin-top: 20px;
    }
  }
  .mobile {
    &_item {
      width: 229px;
    }
    &_item_subtitle {
      font-size: 18px;
    }
  }
    
}

@media (max-width: 767px) {
  .menu {
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: -100%;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0,0,0, .8);
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &_item {
      padding-right: 0;
      border: 0;
      margin: 10px 0;
    }
    &_link {
      font-size: 14px;
    }
  }
  .humburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: white;
      margin-bottom: 3px;
      transition: 0.5s all;
      width: 26px;
      height: 4px;
      margin-top: 3px;
    }
    &_active {
      span {
        margin-bottom: -3px;
        &:nth-child(1) {
          transform:translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform:translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader {
    &_phone {
      display: block;
      margin-top: 24px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
    &_btn {
      width: 170px;
      height: 35px;
      display: block;
      margin: 0 auto;
      margin-top: 5px;
    }
  }
  .promo {
    &_header {
      font-size: 35px;
    }
    &_subheader {
      font-size: 26px;
    }
    &_descr {
      font-size: 16px;
    }
    &_btn {
      margin: 73 auto 0 auto;
    }
  
  }

  
  .reasons_title {
    font-size: 26px;
  }
  .reasons_block .reasons_round {
    margin-top: 41px;
  }
  .reasons {
    height: 3330px;
  }

  .mobile_title {
    font-size: 31px;
    }
 .title {
   font-size: 31px;
   flex-direction: column;
 }
  
 .mobile {
   height: 1758px;
   &_item {
     height: 230px;
   }
 }
 .car {
   height: 740px ;
   &_img {
     height: 68%;
   }
 }
 .map {
   height: 640px;
   &_link {
     margin-top: 305px;
   }
 }
 .middle {
   margin-left: -10%;
 }
 .line {
   width: 335px;
 }
 .link_header {
   width: 305px;
   margin-top: 9px;
 }
 .link_subheader {
   margin-right: 20px;
 }
 .link_list {
   margin-top: 0 15px;
 }
 .footer_store {
   height: 25px;
   width: 54px;
   flex-direction: row-reverse;
   margin-top: 88px;
   margin-right: 11px;
 }
 .img_store {
   height: 23px;
   width: 70px;
   margin-left: 5px;
 }

 .circle_items {
   margin-top: 90px;
 }
 .language {
   margin-right: 71px;
 }
}

@media (max-width: 575px) {
  .subheader {
    height: 60px;
    &_official {
      display: none;
    }
    &_phone {
      font-size: 12px;
      font-weight: 400;
      margin-top: 11px;
    }
    &_btn {
      font-size: 10px;
      width: 120px;
      height: 24px;
    }
  }
  .promo {
    min-height: 400px ;
    padding: 51px 0 35px 0;
    &_descr {
      display: none;
    }
    &_header {
      font-size: 30px;
      line-height: 35px;
    }
    &_subheader {
      font-size: 24px;
      line-height: 30px;
      margin-top: 30px;
    }
    &_btn {
      margin-top: 70px;
    }
  }
  .menu {
    width: 85%;
  }
  .title {
    font-size: 19px;
    font-weight: 700;
    margin-top: 14px;
  }
  .subtitle {
    margin-top: -20px;
    font-size: 14px;
    line-height: 21px;
  }
  .reasons {
    height: 2766px;
    padding: 22px 0 44px 0;
    
  }
  .reasons_block {
    margin-top: -23px;
  }
  .reasons_block .reasons_round {
    margin-right: 0;
  }
  .mobile {
    height: 1690px;
    padding: 24px 0 44px 0;
  }
  .car {
    height: 390px;
    &_title {
      display: none;
    }
    &_subtitle {
      display: none;
    }
    &_img {
      height: 49%;
      margin: 32px auto 0 ;
    }
    &_descr {
      color: #ffffff;
      font-size: 17px;
    }
    &_lable{
      margin: 35px auto 0;
    }
    .black {
      height: 433px;
    }
  }
  .requirements {
    padding: 80px 0 0 0 ;
    &_block {
      margin: -10px 0 33px 0;
    }
  }
  .map {
    height: 360px;
    &_lable {
      margin: -15px auto 0;
    }
    &_title {
      margin-top: 14px;
      font-size: 16px;
    }
    &_subtitle {
      font-size: 14px;
      margin-top: -27px;
    }
    &_link {
      margin-top: 195px;
    }
  }
  footer {
    padding: 0px 18px 0px 18px;
  }
  .footer_wrapper {
    margin: -14px 20px 0 65px;
  }
  .link_header {
    width: 250px;
  }
  .link_item {
    font-size: 12px;
  }
  .link_list {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .line {
    height: 3px;
    width: 220px;
    margin-left: 8px;
    margin-top: -135px;
  }
  .middle {
    margin-left: -4px;
  }
  .language {
    margin-right: -47px;
    margin-top: 9px;
  }
  .circle_icons {
    position: absolute;
    margin-left: 52px;
    margin-top: -70px;
  }
  .circle_items {
    margin-right: 5px;
  }
  .footer_store {
    margin-top: 225px;
    height: 115px;
    margin-left: -52px;
  }
			
  }





